<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('支付记录列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>支付状态：</label>
                            <select name="status" th:with="type=${@dict.getType('sys_common_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>支付方式：</label>
                            <select name="payType" th:with="type=${@dict.getType('bus_pay_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>支付时间：</label>
                            <input type="text" class="time-input" placeholder="请选择支付时间" name="payTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:payLog:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var statusDatas = [[${@dict.getType('sys_common_status')}]];
    var payTypeDatas = [[${@dict.getType('bus_pay_type')}]];
    var prefix = ctx + "business/payLog";

    $(function () {
        var options = {
            url: prefix + "/list",
            exportUrl: prefix + "/export",
            modalName: "支付记录",
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'outTradeNo',
                    title: '订单流水号'
                },
                {
                    field: 'userName',
                    title: '用户名称'
                },
                {
                    field: 'companyName',
                    title: '商户名称'
                },
                {
                    field: 'totalAmount',
                    title: '订单金额'
                },
                {
                    field: 'subject',
                    title: '订单描述'
                },
                {
                    field: 'status',
                    title: '支付状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'payType',
                    title: '支付方式',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(payTypeDatas, value);
                    }
                },
                {
                    field: 'payTime',
                    title: '支付时间'
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>